// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green-home: #44d67a;
$yellow-home: #f2c73c;
$coral: coral;
$btn-primary: #1266f1;
