body {
  &:not(.pages-home) {
    #content {
      margin-top: 64px;
    }
    .navbar {
      background: $side-back;
    }
  }
}

.modal-content {
  border-radius: 10px;
}

[class*=btn-outline-] {
    border-width: .125rem;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .5rem 1.375rem .375rem;
}
.btn-rounded {
    border-radius: 10rem;
}
