body {
  &:not(.pages-home) {
    #content {
      margin-top: 64px;
    }
    .navbar {
      background: $side-back;
    }
  }
}

body {
  &:not([class^="cuisines-"]):not([class^="restaurants-"]):not(.pages-home) {
    #content {
      padding: 2rem;
    }
  }
}

.modal-content {
  border-radius: 10px;
}

[class*=btn-outline-] {
    border-width: .125rem;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: .5rem 1.375rem .375rem;
}
.btn-rounded {
    border-radius: 10rem;
}

.turbolinks-progress-bar {
  background-color: $primary;
}
