.review-stars {
  i {
    font-size: 1.2rem;
    transition: all .3s ease;
    cursor: pointer;
  }
}

.review_content {
  label {
    width: 100%;
    text-align: center;
  }
}

.comments-container {
  border-radius: 8px;
  padding: 5px;
}

.content-comments {
  margin-top: 2px;
  border-radius: 10px;
  background-color: #fff;
  padding: 1em 1em .2em 1em;
  font-weight: lighter!important;
}

.comment-bottom {
  font-size: .7rem;
}


.left-content-comments {
  margin: auto;
}

.users-stars {
  margin-bottom: 10px;
}


.avatar-comments {
  flex-direction: column;
}

.avatar-comments .avatar {
  width: 40px;
  height: 40px;

}
.left-content-comments > div {
  align-items: center;
  justify-content: center;
}

.reactions {
  font-size: 1.2em;
}

.add-to-favorite {
  position: absolute;
  top: -.5em;
  left: -.5em;
  padding: .3em .4em;
  background: #fff;
  border-radius: 100%;

  img {
    width: 1.3em;
    transition: filter .3s ease;
  }
}

.card {
  &:not(.favorite) {
    .add-to-favorite {
      img {
        filter: grayscale(100%);
      }
    }
  }
}

.edit_restaurant {
  .is-valid {
    background-image: none;
    border: 1px solid #ced4da;
    &:focus {
      border-color: $primary;
      box-shadow: none;
    }
  }
}
