<div class="card mb-2 mx-auto text-center" onclick=window.location="/restaurants/list/dish/<%= dish.id %>">
  <div style="background-image: url(<%= image_path('dishes/margherita.jpg') %>)" class="card-header d-flex align-items-center justify-content-center">
    <h3><%= dish.name %></h3>
  </div>
  <div class="card-body">
    <p class="card-text"><%= dish.description %></p>
  </div>
</div>
