<div class="modal fade" id="favoriteModal" tabindex="-1" role="dialog" aria-labelledby="favoriteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="favoriteModalTitle">Your favorites</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-restaurants-tab" data-toggle="pill" href="#pills-restaurants" role="tab" aria-controls="pills-restaurants" aria-selected="true">Restaurants</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-dishes-tab" data-toggle="pill" href="#pills-dishes" role="tab" aria-controls="pills-dishes" aria-selected="false">Dishes</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-restaurants" role="tabpanel" aria-labelledby="pills-restaurants-tab">
        <% favorite_restaurants = Restaurant.where(id: current_user.restaurant_favorite_ids) %>
          <% if favorite_restaurants.empty? %>
            <div class="text-center font-italic">No favorite restaurants yet.</div>
          <% end %>
        <% favorite_restaurants.each do |restaurant| %>
          <%= render 'restaurants/restaurant_card', restaurant: restaurant %>
        <% end %>
        </div>
        <div class="tab-pane fade" id="pills-dishes" role="tabpanel" aria-labelledby="pills-dishes-tab">
        <% favorite_dishes = Dish.where(id: current_user.dishes_favorite_ids) %>
          <% if favorite_dishes.empty? %>
            <div class="text-center font-italic">No favorite dishes yet.</div>
          <% end %>
          <% favorite_dishes.each do |dish| %>
            <%= render 'cuisines/dish_card', dish: dish %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
