<nav class="navbar fixed-top">

    <div id="nav-brand"> <!-- brand -->
      <a href="#" class="nav-back d-none">&lt;</a>
       <span id="sidebarCollapse"  data-controller="sidebar" data-action="click->sidebar#click" class="mr-3 mb-2 align-middle">
          <i class="fa fa-bars"></i>
        </span>
      <%= link_to 'Eathentic.', root_path, class: 'nav-brand' %>
    </div> <!-- brand/end -->
  <div class="btn-share" data-controller="share" data-action="click->share#click" >
    <%= image_tag("share.svg") %>
  </div>
  </nav>

<%= render 'shared/sidebar' %>

