<nav class="navbar fixed-top">

    <div id="nav-brand"> <!-- brand -->
      <a href="#" class="nav-back d-none">&lt;</a>
      <%= link_to 'Eathentic.', root_path, class: 'nav-brand' %>
    </div> <!-- brand/end -->

    <div id="nav-search" class="d-none"> <!-- search -->
      <form>
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div> <!-- search/end -->

    <div id="nav-user" class="d-none"> <!-- user -->
      <a href="#" data-toggle="dropdown" id="navbarDropdown">
        <img class="avatar" src="./images/user.svg"/>
      </a>
      <div id="user-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <div class="dropdown-top text-center">
          <img class="avatar" src="http://res.cloudinary.com/frugo/image/upload/oy1ftz4zoowlh483tu4aekpq46t4" />
          <div class="d-block mt-2">
            <div>Simonne Crist</div>
            <a class="small" data-toggle="modal" data-target="#editUserModal" href="#">update profile</a>
          </div>
        </div>
        <a class="dropdown-item" href="#">
          Something
        </a>
        <a class="dropdown-item" href="#">
          Something
        </a>
        <a class="dropdown-item" href="#">
          Something
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">
          Log out
        </a>
      </div>
    </div> <!-- user/end -->
  </nav>
