<nav class="navbar fixed-top">

    <div id="nav-brand"> <!-- brand -->
      <a href="#" class="nav-back d-none">&lt;</a>
       <span type="button" id="sidebarCollapse"  data-controller="sidebar" data-action="click->sidebar#click" class="mr-3 mb-2 align-middle">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </span>
      <%= link_to 'Eathentic.', root_path, class: 'nav-brand' %>
    </div> <!-- brand/end -->

    <div id="nav-search" class="d-none"> <!-- search -->
      <form>
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div> <!-- search/end -->

  </nav>

<%= render 'shared/sidebar' %>
